.ns_users_table{
    border-collapse: collapse;
}

.ns_greeting{
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
}

.ns_users_table th,
.ns_users_table td{
    border: grey 1px solid;
}